[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MajKMeans"]
	path = MajKMeans
	url = https://github.com/cran/MajKMeans
	shallow = true
	registered = true
